<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zshnb.ballplatform.mapper.CoachOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zshnb.ballplatform.entity.CoachOrder">
        <id column="id" property="id" />
        <result column="coach_id" property="coachId" />
        <result column="start_at" property="startAt" />
        <result column="end_at" property="endAt" />
        <result column="price" property="price" />
        <result column="create_at" property="createAt" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
