<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zshnb.ballplatform.mapper.CoachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zshnb.ballplatform.entity.Coach">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="sport_item_id" property="sportItemId" />
        <result column="sport_level" property="sportLevel" />
        <result column="price" property="price" />
        <result column="description" property="description" />
        <result column="credit" property="credit" />
    </resultMap>

</mapper>
